<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Comment</h1>
    <div class="buttons">
      <button class="button button-clear" style="color:#403B3B;" ng-click="closeAddCommentView()">Cerrar</button>
    </div>
  </ion-header-bar>
<ion-view view-title="Add Comment">
  <ion-content>
  	<form>
    	<div class="list">
			<div class="item item-avatar">
				<h2>{{selected.name}}</h2>
			    <p>{{selected.speciality}}</p>
		  	</div>

		  	<div class="label-comment">How was the experience with this profesional?</div>
		  	<ion-list>
			  <ion-radio ng-model="choice" ng-value="1">Good Experience</ion-radio>
			  <ion-radio ng-model="choice" ng-value="0">Bad Experience</ion-radio>
			</ion-list>

		  	<div class="label-comment">Make a comment:</div>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Comment</span>
		    	<input type="text" placeholder="Comment">
		  	</label>

		</div>
		<div class="item">
	  		<button class="button button-block button-balanced" ng-click="doAddCommentView()">Commit</button>
	  	</div>
    </form>
  </ion-content>
</ion-view>
</ion-modal-view>