<ion-view view-title="Add Profile">
  <ion-content>
  	<form>

    	<div class="list">

			<label class="item item-input item-select">
			    <div class="input-label">
			      Speciality
			    </div>
			    <select>
			      <option>Seleccione...</option>
			      <option selected>1</option>
			      <option>2</option>
			    </select>
		  	</label>

		  	<label class="item item-input item-floating-label">
		    	<input type="text" placeholder="Name Dr.">
		  	</label>

		  	<label class="item item-input item-floating-label">
		    	<input type="text" placeholder="Adress">
		  	</label>
		  	<label class="item item-input item-floating-label">
		    	<input type="text" placeholder="Number">
		  	</label>

		</div>
    </form>
  </ion-content>
</ion-view>