<ion-view view-title="Add Profile">
  <ion-content>
  	<form>

    	<div class="list">

			<label class="item item-input item-select">
			    <div class="input-label">
			      Speciality
			    </div>
			    <select>
			      <option>Seleccione...</option>
			      <option selected>1</option>
			      <option>2</option>
			    </select>
		  	</label>

		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Name Dr.</span>
		    	<input type="text" placeholder="Name Dr.">
		  	</label>

		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Adress</span>
		    	<input type="text" placeholder="Adress">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Number Phone</span>
		    	<input type="text" placeholder="Number Phone">
		  	</label>

		</div>

		<button class="button button-small button-balanced" ng-click="doAddProfile()">Commit</button>
    </form>
  </ion-content>
</ion-view>