<ion-view view-title="Result">
<ion-content>
<ion-list>
<ion-item ng-repeat="result in results">
<div class="list card">
	<div class="item item-avatar">
		<img src="img/ionic.png"> <!-- TODO mostrar foto de usuario que comenta (?)-->
		<h2>{{result.name}}</h2>
		<p>{{result.adress}}</p>
	</div>
	<div class="item item-divider" style="padding: 0">
		<div class="button-bar">
			<button class="button button-balanced" ng-click="openCommentsPosView()" style="border-radius: 0">{{result.counterPos}} Like</button>
			<button class="button button-assertive" ng-click="openCommentsNegView()" style="border-radius: 0">{{result.counterNeg}} Dislike</button>
		</div>
		<div class="button-bar"><button class="button button-positive" ng-click="openCommentsPosView()" style="border-radius: 0">Comentar</button></div>
	</div>
</div>
</ion-item>
</ion-list>
</ion-content>
</ion-view>