<ion-view view-title="Search">
  <ion-content>
  	<form>
	    <div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Speciality
		    </div>
		    <select>
		      <option selected>Select...</option>
		      <option>1</option>
		      <option>2</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Country
		    </div>
		    <select>
		      <option selected>Select...</option>
		      <option>1</option>
		      <option>2</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      State
		    </div>
		    <select>
		      <option selected>Select...</option>
		      <option>1</option>
		      <option>2</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      City
		    </div>
		    <select>
		      <option selected>Select...</option>
		      <option>1</option>
		      <option>2</option>
		    </select>
		  </label>

		</div>
		<a class="button button-small button-calm" href="#/app/resultSearch">
		  Search
		</a>
	</form>
  </ion-content>
</ion-view>
