<ion-view view-title="Search">
  <ion-content>
  	<form>
	    <div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Speciality
		    </div>
		    <select ng-options="speciality as speciality.name for speciality in specialities track by speciality.id" ng-model="objSearch.speciality" ng-selected="objSearch.speciality">
		    	<option value="">Seleccione...</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Country
		    </div>
		    <select ng-options="country as country.name for country in countries track by country.id" ng-model="objSearch.country" ng-selected="objSearch.country">
		    	<option value="">Seleccione...</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      State
		    </div>
		    <select ng-options="state as state.name for state in states track by state.id" ng-model="objSearch.state" ng-selected="objSearch.state">
		    	<option value="">Seleccione...</option>
		    </select>
		  </label>

		</div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      City
		    </div>
		    <select ng-options="city as city.name for city in cities track by city.id" ng-model="objSearch.city" ng-selected="objSearch.city">
		    	<option value="">Seleccione...</option>
		    </select>
		  </label>

		</div>
		<div class="item">
			<a class="button button-block button-calm" href="#/app/resultSearch">
			  Search
			</a>
		</div>
	</form>
  </ion-content>
</ion-view>
